main {
  flex-grow: 1;
  min-width: min-content;

  /* placeholder-inställningar, ersätt med grid */
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  /* slut placeholder-inställningar */
}

/* placeholder-content, ersätts med grid-items */
main > article {
  height: 20rem;
  background-color: white;
  font-size: 20pt;
}
/* slut placeholder-content */

/* mobilanpassad struktur och layout */
@media screen and (max-width: 480px) {
  main {
    margin: 0 auto;
    width: 100%;
  }
}

/* anpassad struktur och layout för smalt browserfönster*/
@media (max-width: 1024px) {
  main {
    margin: 0 auto;
    width: 100%;
  }
}