main {
  flex-grow: 1;
}

/* Obs! Se över inställningar för hur artiklar beter sig vid olika screenstorlekar/browservidder - hur flödar de, hur växer/krymper de etc */
#main__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: minmax(10rem, auto);
  grid-auto-flow: dense;
  gap: 1rem;
}

article {
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  background-color: white;
  font-family: var(--body_font);
}

.small {
  width: 10rem;
  height: 10rem;
}

.span2col {                
  grid-column-end: span 2;
  flex-grow: 2;
}

.span2row {
grid-row-end: span 2;
}

.span3col {
grid-column-end: span 3;
}

.span3row {
grid-row-end: span 3;
}

article:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

article:active {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

/* mobilanpassad struktur och layout */
@media screen and (max-width: 480px) {
  main {
    margin: 0 auto;
    width: 100%;
  }
}

/* anpassad struktur och layout för smalt browserfönster*/
@media (max-width: 1024px) {
  main {
    margin: 0 auto;
    width: 100%;
  }
}