@media (max-width: 1249px) {

  /* döljer sökruta i nav */
  #nav__searchbar-tab {
    display: none;
  }

  /* nav blir två rader */
  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* anpassar utseendet på navtabbar */
  input + .nav__tab {
    border: 0;
    min-width: auto;
  }

  input:not(:first-child) + .nav__tab:not(:first-child) {
    border: var(--border);
    border-top-right-radius: 0;
    position: static;
    margin-left: 0;
  }

  input:nth-of-type(2) + .nav__tab:nth-of-type(2) {
    border-bottom: 0;
  }

  input:nth-of-type(3) + .nav__tab:nth-of-type(3) {
    border-right: 0;
  }

  /* anpassar sticky-positionen på aside när nav övergår i två rader */
  aside {
    top: calc(5rem + 5rem + 1rem);
  }
}

@media (min-width: 1250px) {
  /* döljer sökruta i aside */
  aside search {
    display: none;
  }
}