nav {
  display: flex;
  justify-content: flex-start;
  font-family: var(--body_font);
  background-color: var(--bgcolor);
}

input[type="radio"] {
  display: none;
}

input + .nav__tab {
  border-bottom: var(--border);
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  transition: .1s ease-in-out;
  min-width: 13rem;
  height: 5rem;
}

#index-tab {
  background-color: var(--bgcolor);
  padding: 0 .5rem;
  border-bottom: .1rem solid transparent;
}

input:not(:clicked) + #index-tab {
  border-bottom: .1rem solid transparent;
}

input:not(:first-child) + .nav__tab:not(:first-child) {
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  position: relative;
  margin-left: -1rem;
  padding: 1.4rem .7rem;
}

input + .nav__tab:hover {
  background-color: var(--bgcolor);
}

input:checked + .nav__tab {
  background-color: var(--bgcolor);
  border-bottom: .1rem solid transparent;
}

#nav__searchbar-tab {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: var(--border);
  background-color: var(--bgcolor);
}

#searchbar {
  border: 0;
  outline: 0;
  padding: .4rem 0 .4rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: white;
  width: 11rem;
  position: relative;
}

#searchbar:placeholder-shown {
  font-family: var(--body_font);
  font-size: inherit;
  font-style: italic;
}

#search-button {
  background-color: white;
  outline: 0;
  border: 0;
  padding: .7rem 0.8rem;
  border-radius: 5rem;
  font-size: inherit;
  cursor: pointer;
  position: relative;
}

#search-button:hover {
  background-color: lightgrey;
}

#nav__placeholder {
  height: 1rem;
  background-color: var(--bgcolor);
}