nav {
  display: flex;
  justify-content: flex-start;
  font-family: var(--body_font);
  background-color: var(--bgcolor);
}

input[type="radio"] {
  display: none;
}

input + .nav_tab {
  border-top: var(--border);
  border-left: var(--border);
  border-bottom: var(--border);
  border-top-left-radius: var(--border-radius);
  padding: 1.75rem 1rem;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  transition: .1s ease-in-out;
  min-width: 13rem;
  height: 5rem;
}

input:not(:first-child) + .nav_tab:not(:first-child) {
  border-right: var(--border);
  border-top-right-radius: var(--border-radius);
  position: relative;
  margin-left: -1rem;
}

input + .nav_tab:hover {
  background-color: whitesmoke;
}

input:checked + .nav_tab {
  background-color: var(--bgcolor);
  border-bottom: .1rem solid transparent;
}

#nav-searchbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: var(--border);
  background-color: var(--bgcolor);
}

#searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  border-radius: 5rem;
  height: 2.7rem;
  max-width: max-content;
  background-color: white;
  position: absolute;
}

#searchbar-container:focus-within {
  outline: var(--border);
}

#searchbar {
  border: 0;
  outline: 0;
  padding: .4rem 0 .4rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: white;
  width: 11rem;
  position: relative;
}

#searchbar:placeholder-shown {
  font-family: var(--body_font);
  font-size: inherit;
  font-style: italic;
}

#search-button {
  background-color: white;
  outline: 0;
  border: 0;
  padding: .7rem 0.8rem;
  border-radius: 5rem;
  font-size: inherit;
  cursor: pointer;
  position: relative;
}

#search-button:hover {
  background-color: lightgrey;
}

#nav_placeholder {
  height: 1rem;
  background-color: var(--bgcolor);
}

/* responsivitet sökrutor */

@media screen and (min-width: 1250px) {
  #aside-searchbar-container {
    display: none;
  }
}

@media (min-width: 1250px) {
  #aside-searchbar-container {
    display: none;
  }
}

@media screen and (max-width: 1249px) {
  #nav-searchbar-container {
    display: none;
  }
  

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  input + .nav_tab {
    border: var(--border);
    border-top-left-radius: 0;
  }

  input + .nav_tab {
    border: 0;
    border-radius: 0;
    min-width: auto;
  }

  input:not(:first-child) + .nav_tab:not(:first-child) {
    border: var(--border);
    border-top-right-radius: 0;
    position: static;
    margin-left: 0;
  }

  input:nth-of-type(2) + .nav_tab:nth-of-type(2) {
    border-bottom: 0;
  }

  input:nth-of-type(3) + .nav_tab:nth-of-type(3) {
    border-right: 0;
  }
}

@media (max-width: 1249px) {
  #nav-searchbar-container {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}