#aside-container {
  position: sticky;
  top: calc(5rem + 1rem); /* height nav + nav_placeholder */
  display: flex;
  flex-direction: column;
  padding-top: .1rem;
  padding-bottom: 1rem;
  background-color: var(--bgcolor);
  gap: 1rem;
}

aside {
  background-color: var(--bgcolor);
  min-width: max-content;
  max-width: 60vw;
  background-color: var(--bgcolor);
}

/*aside {
  position: sticky;
  top: 10rem;
  margin-top: 4rem;
  padding-bottom: 1rem;
  background-color: var(--bgcolor);
}*/

#aside_content {
  min-width: min-content;
  border: var(--border);
  border-radius: var(--border-radius);
}

input[type="checkbox"] {
  display: none;
}

#sidebar_label {
  position: relative;
  margin: -.1rem;
  display: block;
  padding: var(--padding);
  border: .1rem solid rgb(40, 42, 53);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius:var(--border-radius);
  background-color: rgb(40, 42, 53);
  color: whitesmoke;
}

#sidebar_news {
  list-style-type: none;
  margin: 1rem 0rem 1.5rem;
  padding: 0;
  line-height: 2.5rem;
}

#sidebar_news li:nth-child(even) {
  background-color: rgb(255, 255, 255, .6);
}

#sidebar_news li {
  text-indent: 1.5rem;
}

#aside-searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  border-radius: 5rem;
  height: 2.7rem;
  max-width: max-content;
  background-color: white;
  }
  
#aside-searchbar-container:focus-within {
  outline: var(--border);
}

/* mobilanpassad struktur och layout */
@media screen and (max-width: 480px) {
  aside {
    top: 6rem;
    margin: 0 auto;
    width: 100%;
  }

  input + #sidebar_label + #sidebar_news {
    display: none;
  }

  /* Obs! Se över inställningar för ikon (positionering, storlek, ev animering */

  input + #sidebar_label::after {
    font-size: 15px;
    font-weight: bold;
    margin-left: .6rem;
  }

  input:not(:checked) + #sidebar_label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
  }

  input:checked + #sidebar_label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
  }
  /* slut se över */

  input:not(:checked) + #sidebar_label {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  input:checked + #sidebar_label {
    border: .1rem solid black;
    background-color: black;
  }

  input:checked + #sidebar_label + #sidebar_news {
    display: block;
  }
}

/* anpassad struktur och layout för smalt browserfönster*/
@media (min-width: 481px) and (max-width: 1024px) {
  #aside-container {
    width: 110%;
    margin-left: -1rem;
    padding-left: 1rem;
  }


  input:not(:checked) + #sidebar_label + #sidebar_news {
    display: block;
  }

  input:checked + #sidebar_label + #sidebar_news {
    display: none;
  }

  /* Obs! Se över inställningar för ikon (positionering, storlek, ev animering */

  input + #sidebar_label::after {
    font-size: 15px;
    font-weight: bold;
    margin-left: .6rem;
  }

  input:not(:checked) + #sidebar_label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
  }

  input:checked + #sidebar_label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
  }
  /* slut se över */

  input:checked + #sidebar_label {
    border: .1rem solid rgb(40, 42, 53);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: rgb(40, 42, 53);
  }

  input + #sidebar_label:hover {
    cursor: pointer;
    background-color: black;
    border-color: black;
  }

  input:not(checked) + #sidebar_label {
    background-color: black;
    border-color: black;
  }
}

@media (max-width: 1249px) {
  #aside-container {
    top: calc(5rem + 5rem + 1rem);
  }
}

/*@media screen and (max-width: 1249px) {
  #aside-container {
    top: calc(5rem + 5rem + 1rem);
  }*/