aside {
  position: sticky;
  top: 10rem;
  margin-top: 4rem;
  z-index: 3000;
  padding-bottom: 1rem;
}

#aside_content {
  min-width: min-content;
  border: var(--border);
  border-radius: var(--border-radius);
}

input {
  display: none;
}

label {
  position: relative;
  margin: -.1rem;
  display: block;
  padding: var(--padding);
  border: .1rem solid black;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius:var(--border-radius);
  background-color: black;
  color: whitesmoke;
}

#sidebar_news {
  list-style-type: none;
  margin: 1rem 0rem 1.5rem;
  padding: 0;
  line-height: 2.5rem;
}

#sidebar_news li:nth-child(even) {
  background-color: rgb(255, 255, 255, .6);
}

#sidebar_news li {
  text-indent: 1.5rem;
}

/* mobilanpassad struktur och layout */
@media screen and (max-width: 480px) {
  aside {
    top: 6rem;
    margin: 0 auto;
    width: 100%;
  }

  input + label + #sidebar_news {
    display: none;
  }

  /* Obs! Se över inställningar för ikon (positionering, storlek, ev animering */

  input + label::after {
    font-size: 15px;
    font-weight: bold;
    margin-left: .6rem;
  }

  input:not(:checked) + label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
  }

  input:checked + label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
  }
  /* slut se över */

  input:not(:checked) + label {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  input:checked + label + #sidebar_news {
    display: block;
  }
}