* {
  box-sizing: border-box;
}

:root {
  --padding: 1.5rem;
  --border: .1rem solid lightgray;
  --border-radius: .6rem;
  --body_font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --bgcolor: whitesmoke;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 .75rem .75rem;
  max-width: 85vw;
}

#xxs-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  height: 3rem;
  font-family: var(--body_font);
  background-color: var(--bgcolor);
}

header {
  position: sticky;
  top: 0;
  margin-left: -1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  font-family: var(--body_font);
  background-color: var(--bgcolor);
}

/* container för huvudarea och sidebar */
#container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}