a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#sidebar__news a:hover {
  text-decoration: underline;
}

#sidebar__news a:active {
  text-decoration: underline;
}

