@keyframes tagline-glitch {
  0% {text-shadow: none;}
  25% {text-shadow: -2px -2px 0 cyan;}
  50% {text-shadow: 2px 2px 0 magenta;}
  75% {text-shadow: -2px -2px 0 cyan, 2px 2px 0 magenta;}
  100% {text-shadow: none;}
}

#tagline {
  font-size: 1.2rem;
  animation: tagline-glitch .5s linear .5s 2;
}

#tagline::selection {
    background-color: lightgray;
}

#logo {
  font-family: 'DM Serif Display', serif;
  font-size: 3.7rem;
  color: rgb(40, 42, 53);
  text-shadow: -2px -2px 0 cyan, 2px 2px 0 magenta;
  background-color: var(--bgcolor);
}

#logo:hover {
  text-shadow: none;
}

#logo:active {
  text-shadow: none;
}

#logo::selection {
  color: white;
  background-color: rgb(40, 42, 53);
}

nav h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#sidebar *::selection {
  background-color: lightgray;
}

#sidebar__news a:hover {
  text-decoration: underline;
}

#sidebar__news a:active {
  text-decoration: underline;
}

article a {
  font-size: smaller;
  font-weight: bold;
}

article a:hover {
  text-decoration: underline;
}

hgroup {
  width: 100%;
}

hgroup h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
}

hgroup h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
}

hgroup p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin-top: .4rem;
}

.article__newstext {
  font-size: 1rem;
  line-height: 1.5;
}

.article__newstext::after {
  font-family: "Font Awesome 5 Free";
  font-size: .8rem;
  font-weight: bold;
  content: " \f105";
}

.image-byline {
  font-size: .8rem;
  color: darkgrey;
  margin: 0;
  display: flex;
}

article *::selection {
  background-color: lightgray;
}

footer div::selection {
  background-color: white;
}
